[submodule "firmware/sdk/simplelink_cc13xx_cc26xx_sdk_7_10_01_24"]
	path = firmware/sdk/simplelink_cc13xx_cc26xx_sdk_7_10_01_24
	url = https://github.com/TexasInstruments/simplelink-lowpower-f2-sdk.git
